## Hewlett Foundation Automated essay scoring data

In [1]:
import pandas as pd

In [2]:
prompt_1 = pd.read_excel('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_1/prompts.xlsx')
data_1 = pd.read_excel('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_1/training_set_rel3.xlsx')

In [3]:
data_1 = pd.merge(
    left = prompt_1,
    right = data_1[['essay_id', 'essay_set', 'essay']],
    on = 'essay_set'
)[['prompt', 'essay']].reset_index(drop = True)

In [4]:
data_1.head(3)

,prompt,essay
0,"More and more people use computers, but not ev...","Dear local newspaper, I think effects computer..."
1,"More and more people use computers, but not ev...","Dear @CAPS1 @CAPS2, I believe that using compu..."
2,"More and more people use computers, but not ev...","Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl..."

## Commonlit - evaluate student summaries prompt data

In [5]:
import pandas as pd
prompt_2 = pd.read_csv('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_2/prompts_train.csv')
data_2 = pd.read_csv('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_2/summaries_train.csv')

In [6]:
prompt_2.head(3)

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...

In [7]:
data_2.head(3)

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226

In [8]:
data_2 = pd.merge(
    left = prompt_2[['prompt_id','prompt_text', 'prompt_question']],
    right = data_2[['prompt_id', 'text']],
    on = 'prompt_id'
)

In [9]:
data_2['prompt'] = data_2['prompt_text'] + ' '+data_2['prompt_question']

In [10]:
data_2.head(3)

,prompt_id,prompt_text,prompt_question,text,prompt
0,39c16e,Chapter 13 \r\nAs the sequel to what has alrea...,Summarize at least 3 elements of an ideal trag...,1 element of an ideal tragedy is that it shoul...,Chapter 13 \r\nAs the sequel to what has alrea...
1,39c16e,Chapter 13 \r\nAs the sequel to what has alrea...,Summarize at least 3 elements of an ideal trag...,The three elements of an ideal tragedy are: H...,Chapter 13 \r\nAs the sequel to what has alrea...
2,39c16e,Chapter 13 \r\nAs the sequel to what has alrea...,Summarize at least 3 elements of an ideal trag...,Aristotle states that an ideal tragedy should ...,Chapter 13 \r\nAs the sequel to what has alrea...

In [11]:
data_2 = data_2[['prompt', 'text']].rename({'text': 'essay'}, axis = 1)
data_2.head(3)

,prompt,essay
0,Chapter 13 \r\nAs the sequel to what has alrea...,1 element of an ideal tragedy is that it shoul...
1,Chapter 13 \r\nAs the sequel to what has alrea...,The three elements of an ideal tragedy are: H...
2,Chapter 13 \r\nAs the sequel to what has alrea...,Aristotle states that an ideal tragedy should ...

## Essay Instruction Dataset (from huggingface)

In [12]:
data_3 = pd.read_parquet('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_3/essay_instructions_train.parquet')
data_3_test = pd.read_parquet('/home/peng_sun2/s3shared/kaggle/llm-2023/data/external_data_3/')

In [13]:
data_3 = pd.concat([data_3, data_3_test], axis = 0).reset_index(drop = True).rename({'chosen': 'essay'}, axis =1)
data_3

,prompt,essay
0,Human: Write the original essay that provided ...,“Through the Looking Glass” Critical Essay\n\n...
1,Human: Write the original essay that provided ...,The Concept of Antimicrobial Agents Essay\n\nT...
2,Human: Write the full essay for the following ...,Nursing Practice Concerning Patients With Card...
3,Human: Write a essay that could've provided th...,Racism and Society: Different Perspectives Ter...
4,Human: Write the original essay that generated...,Assessment of Innovation in Organisations Repo...
...,...,...
3916,Human: Provide a essay that could have been th...,African Scam Letters’ Linguistic Anthropology ...
3917,Human: Provide the inputted essay that when su...,South African Public Health Policy Implementat...
3918,Human: Provide the full text for the following...,Abu Dhabi’s Efforts in Becoming the Safest Cit...
3919,Human: Provide the inputted essay that when su...,Global Misconceptions in The WHO Video Essay\n...
3920,Human: Write the original essay that provided ...,Psychological Trauma: Physical and Behavioral ...

## Concat all data

In [14]:
data = pd.concat([data_1, data_2, data_3], axis = 0).reset_index(drop = True)
data.head(3)

,prompt,essay
0,"More and more people use computers, but not ev...","Dear local newspaper, I think effects computer..."
1,"More and more people use computers, but not ev...","Dear @CAPS1 @CAPS2, I believe that using compu..."
2,"More and more people use computers, but not ev...","Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl..."

In [15]:
data.shape

(16961, 2)

In [16]:
data.to_parquet('/home/peng_sun2/s3shared/kaggle/llm-2023/data/combined_external_data.parquet')

/home/ubuntu/anaconda3/lib/python3.9/site-packages/pyarrow/pandas_compat.py:358: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):